@import '../../../style/settings.scss';

.component {
	background-color: $color-four;
}

.title {

	margin: $base-size*2 auto;
	text-align: center;
}

.wrapper {
	background-color: $color-default;

}


.btn {
	font-size: $base-size*2;
	text-decoration: none;
	color: $color-default;
}

.projects {
	margin-bottom: 160px;
	height: 1000px;
	position: relative;
	transition: $transition;
}



@media (max-width: 1068px)
{

.component {
padding: 0;
}

.projects {
	margin-bottom: 160px;
}
}

@media (max-width: 450px)
{



.projects {
	margin-bottom: 460px;
}
}

