@import '../../../style/settings.scss';




.wrapper {
	margin: auto;
	border-radius: 12px;
	border: 6px solid $color-four;
	text-align: center;
	width: 30vw;
}

.title {
	font-size: $base-size*4;
}

.text {
	font-size: $base-size*2;
}