@import '../../../style/settings.scss';
@import '../../../style/colors.scss';


.component {
	box-shadow: -32px 12px 43px -8px rgba(0,0,0,0.08) , 32px 12px 43px -8px rgba(0,0,0,0.08);
	margin: $base-size*4 0;
    padding: $base-size*2;
	background-color: $color-default;
}

.cardLink {
	transition: $transition;
	border-radius: 6px;
	border: 3px solid $color-four;
	margin: $base-size*2;
	list-style-type: none;

}
.cardLink a:hover {
	color: $color-one;
background-color: $color-four;
}


.cardLink a {
	transition: $transition;
	background-color: $color-one;
	display: block;
	width: 100%;
	color: $color-four;
	text-decoration: none;
} 