@import '../../../style/settings.scss';


.component {
	margin:$base-size*2 0;
	box-shadow: -32px 12px 43px -8px rgba(0,0,0,0.08) , 32px 12px 43px -8px rgba(0,0,0,0.08);

}
.header {
	border-bottom-right-radius: 35%;
	-webkit-filter: grayscale(90%); /* WebKit */
	filter: grayscale(90%);
	width: 40%;
	height: 512px;
	margin: auto;
	box-shadow: 12px 12px 23px -8px rgba(0,0,0,0.28)
}

.download {
	left: 50%;
	top: 50%;
	position: absolute;
	-webkit-transform: translate(-50%,-50%); /* WebKit */
    -moz-transform: translate(-50%,-50%); /* Mozilla */
    -o-transform: translate(-50%,-50%); /* Opera */
    -ms-transform: translate(-50%,-50%); /* Internet Explorer */
	transform: translate(-50%,-50%);
}

.link {
  padding: $base-size*2 0;
  text-align: center;
  display: block;
  margin: auto;

}

.link {
    box-shadow: 0px 12px 43px -8px rgba(0,0,0,0.58);
	border-radius: 12px;
    padding: $base-size*2  $base-size*4;
    border: 6px transparent solid ;
	background-color: transparent;
	font-size: $base-size*2;
	color: $color-one;
	text-decoration: none;
	transition: $transition;
}

.link:hover {

background-color: $color-four;
}

.title {	
	left: 50%;
	top: 10%;
	position: absolute;
	-webkit-transform: translate(-50%,-50%); /* WebKit */
    -moz-transform: translate(-50%,-50%); /* Mozilla */
    -o-transform: translate(-50%,-50%); /* Opera */
    -ms-transform: translate(-50%,-50%); /* Internet Explorer */
	transform: translate(-50%,-50%);
	animation: move 700ms ease 100ms infinite alternate none;
	padding: $base-size*2;
	background-color: $color-one;
	letter-spacing: $base-size*0.5;
	font-size: $base-size*2;
	width: 60%;
    text-align: center;
    position: absolute;
    border: solid 4px $color-four;
}

@keyframes move {
0% { margin-top: $base-size*9 }
50% { margin-top: $base-size*8.5; letter-spacing: $base-size*0.4 }
90% { margin-top: $base-size*9 }
100% { margin-top: $base-size*9 }
}

@keyframes moveMobile {
0% { margin-top: $base-size*2 }
50% { margin-top: $base-size*1.5; letter-spacing: $base-size*0.15 }
90% { margin-top: $base-size*2 }
100% { margin-top: $base-size*2 }
}

@media (max-width: 1482px) {

	.title {
		font-size: $base-size;
	}
}



@media (max-width: 768px)
{

.component {
	margin-bottom: 0;
}



.title {
width: 70%;
margin-top: $base-size*2;
letter-spacing: $base-size*0.1;
padding: $base-size;
font-size: $base-size*0.8;
animation: moveMobile 700ms ease 100ms infinite alternate none;
border-right: solid 4px $color-four;

}

}