@import '../../../style/settings.scss';
@import '../../../style/colors.scss';


.image {
background-position: center;
background-size: cover;
background-repeat: no-repeat;	  
width: 100%;
height: 50vh;
position: relative;
}



