
$color-one: #F08080;
$color-two: #fff;

$color-secondary: #1D2121;

$color-default: #6D7884;
$color-dark: #2D1910;
$color-frozen: #AFDEE8;



$color-four: #F9F9F9;
$color-text: #040112;
$color-header: black;
$transition: all 0.3s;
$font-text: 'Roboto', sans-serif;
$font-title: 'Oxygen';
$base-size: 12px;

