$color-one: #F08080;
$color-two: #fff;
$color-three: #00BFFF;
$color-four: #F9F9F9;
$color-text: #040112;
$color-header: black;
$transition: all 0.3s;
$font-text: 'Questrial', sans-serif;
$font-title: 'Mansalva', cursive;
$base-size: 12px;