@import '../../../style/settings.scss';

.component {
	background-color: $color-four;
	box-shadow: -32px 12px 43px -8px rgba(0,0,0,0.08) , 32px 12px 43px -8px rgba(0,0,0,0.08);

}

.title {
	text-align: center;
	margin: $base-size auto;
	font-size: $base-size*4;
}

.row {
	margin-top: $base-size*4;
	display: flex;
	justify-content: space-around;
}



.name {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}



.box{	
	background-size: cover;
	transition: all 1s;
	margin: $base-size;
	border: 4px solid $color-four;
	border-radius: 12px;
	box-shadow: -32px 12px 43px -8px rgba(0,0,0,0.08) , 32px 12px 43px -8px rgba(0,0,0,0.08);
	width: 50%;
	height: 40vh;

}




@media (max-width: 768px)
{
.box{
	height: 20vh;
}


.title {
	font-size: $base-size*2;
}


}

