@import '../../../style/settings.scss';


.projects {
margin: 0 auto;
text-align: left;
opacity: 0;
transition: $transition;
height: 0;
background-color: $color-one;

a {
  text-align: left;
  height: 0;
  width:  0;
  display: table;

}
}



.link {
	font-weight: bold;
	font-size: $base-size*2;
	transition: $transition;
	padding: 13px;
	text-decoration: none;
	color: $color-two;
	text-align: left;
}

.link:hover {
	
	color: $color-one;
	background-color: $color-two;
}

.title {
  font-size: ($base-size * 4);
}

.arrow {
	margin: auto 4px;
	background-color: $color-one;
	border: none;
	cursor: pointer;
	color: $color-two;
	font-size: $base-size*2;
}