@import '../../../style/settings.scss';

.component {
	height: 12px;
	width: 100%;
	background-color: $color-four;
}

.text {
	bottom: 50%;
	transform: translateY(50%);
	margin: 12px;
	margin-top: 0;
	float: left;
	font-size: $base-size;
	color: black;
}

.links {
	
	list-style-type: none;
}

.icon {

	margin-right: 4px;
	font-size: $base-size*2;
	color: black;
}

.icon:hover {
	color: $color-one;
}

@media (max-width: 1068px)
{



.text {
	
	float: none;
	text-align: center;
	font-size: $base-size*0.7;
}

.links {
	display: none;
	
}



}
