@import '../../../style/settings.scss';
@import '../../../style/colors.scss';


.calculator {
	box-shadow: 0px 12px 50px 29px rgba(0,0,0,0.18);
	margin: $base-size*2 auto;
    position: static;
    padding: $base-size*2;
    display:table;
}