@import '../../../style/settings.scss';


.component {
	margin-bottom: 24px;
}

.row {
	margin-top: $base-size*4;
	display: flex;
	justify-content: space-between;
}

.circle {	
   box-shadow: 0px 12px 50px 29px rgba(0,0,0,0.18);
   width: 500px;
   height: 500px;
   border-radius: 250px;
   position: relative;
   background: $color-two;

}
.link:hover {	

   background-color: $color-one;

}

.top {
	text-align: center;
	font-size: $base-size*2;
	transform: translateX(-50%);
	position: absolute;
	left: 50%;
	margin: 12px 0;
	
}
.bottom {
	font-size: $base-size*2;
	margin: 0 ;
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.left {
	font-size: $base-size*2;
	margin: 0 16px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.right {
	font-size: $base-size*2;
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 95%;
}



.innerCircle {	
	box-shadow: 0px 12px 50px 29px rgba(0,0,0,0.18);
	margin: 0;
	transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
   width: 400px;
   height: 400px;
   border-radius: 200px;
   position: absolute;
   background-color: $color-two;
   
}


.link {
	vertical-align: middle;
	display: block;
	border-radius: 225px;
    text-align: center;
	width: 100%;
	height: 100%;
	font-size: $base-size*2;
	color: black;
	text-decoration: none;
	position: absolute;
	transition: $transition;
}

.addLink {
	margin: 0;
	transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
	font-size: $base-size*2;
	color: black;
	text-decoration: none;
	position: absolute;
	transition: $transition;
	cursor: pointer;
}
.form {
	margin: 0;
}

.title {
	color: $color-one;
    text-align:center;
	font-size:36px;
}

.daily {	
	display: none;
	font-size: $base-size*2;

}

.text {
	padding: $base-size;
	font-size: $base-size*2;
	margin: $base-size auto;
	width: 70%;
}

.colorPicker {
	margin-top: 8px;
}

.timeContainer {
	width: 100%;
	height: 10vh;
}

.info {
	width: 50%;
	display: inline-block;
}

.time {
	padding: 0;
	width: 105px;
	background-color: $color-four;
	color: black;
	font-size: $base-size*2;
	margin: $base-size 0;
}


.duration {
	width: 105px;
	font-size: $base-size*2;
	margin: $base-size 0;
}

.back {
	float: right;
	font-size: $base-size*2;
	background-color: red;
	text-align: center;
	color: $color-two;
	text-decoration: none;
	border: solid 5px red;
	display: inline-block;
	padding: $base-size*0.5;

}

.add {		
	text-align: center;
	text-decoration: none;
	font-size: $base-size*2;
	padding: $base-size 0;
	cursor: pointer;
	color: $color-two;
	background-color: green;
	margin-top: $base-size;	
	border: solid 4px green;
	display: inline-block;
	width: 100%;
}

.taskInfo {
	font-size: $base-size*2;
   box-shadow: inset 0px 2px 18px 9px rgba(0,0,0,0.08);
	padding: $base-size;
	color: black;
	width: 160%;
	background-color: #F3F3F3;
	border-radius: 6px;
}

.barColor {
	width: 160%;
	padding: $base-size;
	border-radius: 6px;

}

@media (max-width: 1068px)
{
	.row {
		display: block;
	}

	.circle {
		height: 300px;
		width: 300px;
	}

	.innerCircle {
		height: 200px;
		width: 200px;
	}

	.text {
		font-size: $base-size;
	}
	.taskInfo {
		
		font-size: $base-size;
	}

	.right {

	left: 92%;
}

	.bottom {
		top: 93%;
	}

	}